extends layout

block content
    div(ng-controller='listCtrl')
        div.row
            h3 Deployed Apps
            table.table.table-striped
                thead: tr
                    th name
                    th action
                    th delete
                    th pull
                    th port
                thead
                    tr(ng-repeat='app in apps')
                            td {{app.name}} 
                            td
                                a(ng-hide='app.pid != 0', ng-click='startApp(app)') Start
                                a(ng-show='app.pid != 0', ng-click='stopApp(app)') Stop
                            td: a(ng-click='deleteApp(app.name)') Delete
                            td: a(ng-click='updateApp(app.name)') Update
                            td: input(type='text', ng-model='app.port', ng-change='changePort(app)')
            h3 Repos
            div
                span Orgs: 
                select(ng-model='currentOrg', ng-options='org.login for org in orgs')
                    option(value='') none
            div.span5
                table.table.table-striped
                    thead: tr
                        th name
                        th deploy
                    tbody
                        tr(ng-repeat='repo in repos', ng-class='{disabled : deployed(repo.name)}')
                            td: a(ng-click='!deployed(repo.name) && showRepo(repo.owner.login, repo.name)') {{repo.name}}
                            td: a(ng-click='!deployed(repo.name) && deploy(repo.clone_url, repo.name)') deploy
                            
            div.span7